@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.container{
    width: 70%;
    margin: 0 auto;
}
.logu h3 span{
    color:#e02c6d ;
}
.logu h3{
    font-size: 2.5rem;
    font-family: "Poppins", serif;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu {
    
}
.menu ul{
    display: flex;
    align-items: center;
  

}
.menu ul li{
    list-style: none;
    padding: 0px 15px;
    
}
.menu ul li a{
   text-decoration: none;
   font-size: 1.4rem;
   color: black;
   font-weight: 500;
}

/* banner_section */
img{
    width: 100%;
}
.banner_section{
    display: flex;
    align-items: center;
    margin-top: 60px;
    justify-content: space-between;
    background-image: url(../images/Circle\ design.svg);
    background-position: right bottom;
    background-repeat: no-repeat;
  
 
}
.banner_content{
    align-items: center;
    justify-content: center;
    width: 50%;
    
}
.banner_content h1{
    font-size: 3rem;
    width: 580px;
    font-family: "Poppins", serif;
}
.banner_content p{
    width: 500px;
    font-family: "Poppins", serif;

}
.banner_img{
    justify-content: center;
}
.common{
    background-color:#e02c6d ;
    padding: 12px 21px;
    color: aliceblue;
    font-weight: 600;
    font-size: 18px;
    border: none;
    border-radius: 25px;
}

/* sponcer img section */
.sponcer_section{
    margin-top: 70px;
}
.sponcer_img{
    display: flex;
    
    justify-content: space-between;
    border-top: 1px solid rgb(235, 232, 232);
    border-bottom: 1px solid rgb(235, 232, 232);
}
.sponcer_img img{
    margin:0px 40px ;
}

/* card section */
.card_section{
    margin-top: 80px;
   
}
.card{
    /* box-shadow: 0px 6px 50px 0px #9b1818; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px 150px;
    border-radius: 10px; 
}
.card_content span{
    color: orange;
    font-weight: 600;
    font-size: 25px;
    line-height: 2px;
    
}

.card_content h3,p{
  line-height: 5px;
}
.card_section h1 {
    text-align: center;
    font-family: "Poppins", serif;
}
.card_content{
    padding: 15px;
    
    box-shadow: 0px 6px 50px 0px #f2f0f0;
   
   
}
/* future_section */
.future_section{
    display: flex;
    margin-top: 80px; 
    align-items: center;
}
.future_content{
    width: 600px;
    margin-left: 50px;
   
}
.future_content p{
    line-height: 15px;
   
}
.futur_img {
    width: 50%;
}

/* foter */
.foter{
    text-align: center;
    margin-top: 80px;
    background-color:#0a0826 ;
    color: aliceblue;

    
}
.imgfoter{
    display: flex;
    justify-content: center;
    
}
.fotercontent{
    padding:35px 20px ;
}
.imgfoter img{
    width: 30px;
    padding: 0px 10px;
}